@charset "UTF-8";
.football_img {
  transition-duration: 1s;
  width: 120px;
  height: 120px;
}

.baseball_img {
  transition-duration: 1s;
  width: 100px;
  height: 100px;
}

.volleyball_img {
  /* transition-duration: 1s; */
  width: 100px;
  height: 100px;
  transform-origin: 600px 550px;
}

.football:hover + .football_img {
  visibility: visible;
  transform: translateX(950px) translate(960px) rotate(200deg);
}

.baseball:hover + .baseball_img {
  visibility: visible;
  /* transform: translateX(960px) translate(960px) rotate(200deg); */
  transform: translate(2000px, -350px) rotate(200deg);
}

.volleyball:hover + .volleyball_img {
  visibility: visible;
  /* animation-name: volleyball_img;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: 1s; */
  transform: rotate(180deg);
  transition: all 0.8s ease-in-out;
}

/* @keyframes volleyball_img {
  from {
  }

  23% {
    transform: translate(600px, -250px) rotate(200deg);
    animation-timing-function: ease-out;
  }

  to {
    transform: translate(1500px, 550px) rotate(200deg);
    animation-timing-function: ease-in;
  }
} */
