@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
}
header {
  width: 100vw;
  height: 80px;
  background-color: rgb(0, 24, 65);
  display: flex;
}
nav {
  width: 1220px;
  margin: 0 auto;
  position: relative;
}
#logo {
  position: absolute;
  left: 0;
}
#logo img {
  width: 80px;
}
#menu {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
#menu > li {
  margin: 0 30px 0;
}
#menu > li:first-child {
  padding: 0;
}
#menu > li > a {
  color: #fff;
  font-size: 24px;
}
#menu > li > a:after {
  display: block;
  width: 100%;
  content: "";
  border-bottom: solid 3px #fff;
  transform: scaleX(0);
  transition: transform 0.6s ease-in-out;
  padding-bottom: 5px;
}
#menu > li > a:hover {
  font-weight: 900;
}
#menu > li > a:hover:after {
  transform: scaleX(1);
}
.drop-menu {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 3px solid rgb(0, 24, 65);
  border-top: none;
  width: 1220px;
  position: absolute;
  left: -20px;
}
.drop-menu > li {
  padding: 10px 0;
}
.drop-menu > li:first-child {
  margin-left: 30px;
}
.drop-menu > li:last-child {
  margin-right: 30px;
}
.drop-menu > li > a {
  color: rgb(255, 99, 99);
  font-weight: 600;
  font-size: 14px;
}

ul.drop-soccer {
  min-height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: translateY(-2rem);
  margin-left: 20px;

  position: absolute;

  min-width: 200px;
}

#soccer:hover ul.drop-soccer {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

ul.drop-baseball {
  min-height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: translateY(-2rem);
  margin-left: 20px;

  position: absolute;

  min-width: 200px;
}

#baseball:hover ul.drop-baseball {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}
#volleyman a,
#volleywoman a {
  color: rgb(255, 99, 99);
  font-size: 13px;
  font-weight: 600;
}

#volleyman li {
  padding: 10px 30px 10px 0;
}
#volleyman li:first-child {
  margin-left: 10px;
  padding-right: 15px;
}
#volleyman li:last-child {
  margin-right: 10px;
}
#volleyman {
  margin-top: 8px;
  position: absolute;
  left: 0;
  width: 1220px;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: rgb(0, 24, 65);
  border-left: 3px solid rgb(0, 24, 65);
  border-right: 3px solid rgb(0, 24, 65);
  background-color: #fff;
}

#volleywoman li {
  padding: 10px 30px 10px 0;
}
#volleywoman li:first-child {
  margin-left: 10px;
  padding-right: 15px;
}
#volleywoman li:last-child {
  margin-right: 10px;
}

#volleywoman {
  margin-top: 10px;
  position: absolute;
  left: 0;
  top: 100px;
  width: 1220px;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: rgb(0, 24, 65);
  border: 3px solid rgb(0, 24, 65);
  border-top: none;

  background-color: #fff;
}

#volleyman {
  min-height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  transform: translateY(-2rem);
  position: absolute;
  left: 0;
}

#volleyball:hover #volleyman {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

#volleywoman {
  min-height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  transform: translateY(-2rem);
  position: absolute;
  left: 0;
}

#volleyball:hover #volleywoman {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}
