@charset "UTF-8";

.seoul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 100%;
}

.incheon {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.daejeon {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.daegu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.gwangju {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.busan {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.ulsan {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.sejong {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.gyeonggi {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.gangwon {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.chungbuk {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.chungnam {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.gyeongbuk {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.gyeongnam {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.jeonbuk {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.jeonnam {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}

.jeju {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 0;
}
